*{
    background-color:#3B4CCA;
}
div {
    text-align: center;
    margin-top:10px;
}
img{
    margin-top:10px;
}
h2{
    color:#ffde00;
    text-align:center;
    font-family: 'Pokemon Solid', sans-serif;         
}
h2{
    text-align:center;
}